@import url('https://fonts.googleapis.com/css?family=Lobster|PT+Sans');

input, textarea, select {
    -webkit-appearance: none;
    outline: none;
}

body {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.wrapper {
    max-width: 1272px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
}

/*------------------------------------header-top-line---------------------------------------*/
.header-top-line {
    padding: 0 35px;
    border-bottom: 2px solid #bb9955;
}

.header-top-line a{

}

.header-top-line .header-top-icons {
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

use.top_icons {
    fill: #bb9955;
}

svg path {
    fill: inherit;
}

.header-top-line__social-block {
    float: left;
    margin: 8px auto;
    padding: 0 10px;
}

.header-top-line__login-block {
    float: right;
    margin: 8px auto;
    padding: 0 10px;
}

.header-top-line__login-block a{
    color: #bb9955;
}

.header-top-line__login-block span {
    display: inline-block;
    vertical-align: middle;
    color: #bb9955;
    font-size: 18px;
    padding: 0 5px;
}

/*------------------------------------header-middle-line---------------------------------------*/
.header-middle-line__logo-block{
    display: block;
    float: left;
    box-sizing: border-box;
    width: calc(100%/3);
}

.header-middle-line__logo-block img {
    max-width: 95%;

}

.header-middle-line__search-block {
    float: left;
    width: calc(100%/3);
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding: 30px 0 20px 45px;
}

.header-middle-line__search-block .search-input {
    border: none;
    box-sizing: border-box;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.9);
    background-color: #ccaa66;
    width: 100%;
    margin:0;
    padding:15px 72px 7px 15px;

}

.header-middle-line__search-block .submit {
    border: none;
    background: url(../i/icons_svg/lupa.svg) 50% no-repeat, #443322;
    background-size: 25px 25px;
    padding: 11px;
    margin: 0;
    text-align: center;
    width: 72px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 0;
}

.header-middle-line__search-block .submit:hover {
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.9);
}

.header-middle-line__message-block {
    float: right;
    text-align: right;
    padding: 28px 37px 23px 0;

}

.header-middle-line__message-block .message_icon {
    width: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.header-middle-line__message-block__message-link {
    float: right;
    font-size: 18px;
    color: #000000;
    line-height: 70%;
    font-weight: bold;
    text-align: left;
    padding-top: 8px;
}

/*------------------------------------navigation---------------------------------------*/
nav ul {
    list-style: none;
    margin: 0;
    background: #443322;
    font-size: 0;
}

nav ul li {
    display: inline-block;
    width:25%;
    box-sizing: border-box;
    line-height: 42px;
}

nav ul li:not(:last-child) {
    border-right: 1px solid #ffffff;
}

nav ul li a {
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul a:hover {
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.9);
}

/*------------------------------------banner---------------------------------------*/
.slick-slider {
    box-sizing: border-box;
    padding: 45px 0 25px 0
}

.banner-line__first-banner--left {
    float: left;
    width: 50%;
    text-align: right;
}

.banner-line__first-banner--left img {

}

.banner-line__first-banner--right {
    box-sizing: border-box;
    float: right;
    width: 50%;
    text-align: center;
    padding: 65px 50px 65px 100px;
}
.banner-line__first-banner--right .banner__text{
    text-align: left;
    margin:0 auto;
}


.banner-line__first-banner--right h2 {
    color: #996633;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

.banner-line__first-banner--right h3 {
    color: #443322;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.banner-line__first-banner--right p {
    color: #000000;
    font-size: 18px;
    margin-top: 5px;
    padding-right: 100px;
}

.banner-line__first-banner--right a {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    background-color: #ccaa66;
    padding: 10px 30px;
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
}

/*------------------------------------section-sales---------------------------------------*/

.sale-line__sale-items {
    margin: 5px -17.5px;
    padding: 0 35px;
}

.sale-line__sale-items__sale-item {
    box-sizing: border-box;
    float: left;
    margin: 0 17.5px;
    width: calc(100% / 3 - 35px);
    background-color: #443322;
    padding: 10px 0 25px 0;
    text-align: center;
    color: #ffffff;
}

.sale-line__sale-items__sale-item h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sale-line__sale-items__sale-item p {
    font-weight: bold;
    font-size: 20px;
}

.sale-line__sale-items__sale-item a {
    display: block;
    font-size: 24px;
    text-decoration: underline;
    color: inherit;
    margin-top: 5px;
    font-weight: bold;
}

/*------------------------------------section-catalog---------------------------------------*/
.catalog-line {
    margin: 5px -17.5px 17.5px;
    padding: 0 35px;
}

.catalog-line__catalog-item {
    float: left;
    box-sizing: border-box;
    width: calc(100% / 3 - 35px);
    position: relative;
    margin: 17.5px;
}

.catalog-line__catalog-item:nth-child(3n+4) {
    clear: both;
}

.catalog-line__catalog-item--leftside {
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    padding: 0 10px;
    max-width: 90%;
}

.img-wrapper{
    position: relative;
    overflow: hidden;
    min-height: 150px;
}

.img-wrapper img{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
}


.catalog-line__catalog-item--leftside h2 {
    font-family: 'Lobster', cursive;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

.catalog-line__catalog-item--leftside p {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.catalog-line__catalog-item__item-price {
    font-family: 'Lobster', cursive;
    color: #996633;
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin: 15px 0;
}

.catalog-line__catalog-item a {
    box-sizing: border-box;
    display: block;
    border: 1px solid #e5e5e5;
    padding: 2px;
    text-align: center;
    max-width: 38px;
    height: 38px;
    margin: 0 0 1px 1px;
}

.catalog-line__catalog-item .links {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    box-sizing: border-box;
    display: block;
}

/*------------------------------------footer---------------------------------------*/
footer .wrapper {
    background-color: #443322;
}

.footer-line {
    padding: 0 35px;
    color: #ffffff;
}

.footer-line__footer-list {
    float: left;
    box-sizing: border-box;
    width: calc(100% / 4 - 20px);
    margin: 10px;
    color: inherit;
}

.footer-line__footer-list h2 {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 35px;
}

.footer-line__footer-list a {
    display: block;
    color: inherit;
    margin: 15px 0;
    font-size: 18px;
}

.footer-line__footer-list .social-links {
    margin: 0 -10px;
}

.footer-line__footer-list .social-links a {
    display: inline-block;
    text-align: left;
    margin: 0 10px;
}

.footer-icons {
    width: 56px;
    height: 68px;
    display: inline-block;
    vertical-align: middle;
}

use.f_icons {
    fill: #ffffff;
}

.footer-line__footer-list .phone-numbers {
    font-size: 30px;
    text-align: left;
    overflow: hidden;
}

.copyright {
    text-align: center;
    font-size: 10px;
    margin: 60px 0;
    color: #ffffff;
}

/*------------------------------------media---------------------------------------*/

@media screen and (max-width: 1170px) {
    .footer-line__footer-list .phone-numbers {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .catalog-line__catalog-item {
        width: calc(100% / 3 - 20px);
    }

    .catalog-line__catalog-item:nth-child(4n+5) {
        clear: none;
    }

    .catalog-line__catalog-item:nth-child(3n+4) {
        clear: both;
    }

    .banner-line__first-banner--left {
        float: none;
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    .banner-line__first-banner--left img {
        border-bottom: 2px solid #bababa;
        border-right: none;
        max-width: 70%;
    }

    .banner-line__first-banner--right {
        float: none;
        width: 90%;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
    }

    .banner-line__first-banner--right p {
        padding: 10px 100px;
    }

    .banner-line__first-banner--right input {
        margin: 0;
    }

    .footer-line__footer-list {
        box-sizing: border-box;
        width: calc(100% / 2 - 20px);
        text-align: center;
    }

    .footer-line__footer-list:nth-child(2n+3) {
        clear: both;
    }
}

@media screen and (max-width: 780px) {
    .catalog-line__catalog-item {
        width: calc(100% / 2 - 20px);
    }

    .catalog-line__catalog-item:nth-child(3n+4) {
        clear: none;
    }

    .catalog-line__catalog-item:nth-child(2n+3) {
        clear: both;
    }

    .header-middle-line__logo-block {
        text-align: center;
    }

    .header-middle-line__logo-block img {
        float: none;
    }
}

@media screen and (max-width: 690px) {
    .catalog-line__catalog-item {
        width: calc(100% - 20px);
        float: none;
    }

    .catalog-line__catalog-item:nth-child(2n+3) {
        clear: none;
    }

    .sale-line__sale-items__sale-item {
        float: none;
        width: calc(100% - 40px);
        margin: 20px;
    }

    .header-middle-line__logo-block, .header-middle-line__search-block, .header-middle-line__cart-block {
        display: block;
        float: none;
        width: calc(100% - 40px);
        margin: 30px 20px;
    }

    .footer-line__footer-list {
        float: none;
        box-sizing: border-box;
        width: calc(100% - 20px);
        text-align: center;
    }

    .footer-line__footer-list:nth-child(2n+3) {
        clear: none;
    }

    .banner-line__first-banner--right p {
        padding: 10px 20px;
    }
}