@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.wrapper {
    box-sizing: border-box;
    overflow: hidden;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 35px;
}

/*------------------------------------header-top-line---------------------------------------*/
.header-top-line {
    border-bottom: 2px solid #e5e5e5;
}

.header-top-line__social-block {
    float: left;
    margin: 10px 20px;
}

.header-top-line__social-block img {
    vertical-align: middle;
}

.header-top-line__login-block {
    float: right;
    margin: 10px 20px;
}

.header-top-line__login-block img {
    vertical-align: middle;
}

.header-top-line__login-block span {
    display: inline-block;
    vertical-align: middle;
    color: #909090;
}

/*------------------------------------header-middle-line---------------------------------------*/
.header-middle-line__logo-block, .header-middle-line__search-block, .header-middle-line__cart-block {
    display: block;
    float: left;
    width: calc(100% / 3 - 40px);
    margin: 30px 20px;
}

.header-middle-line__logo-block {
    margin: 13px 20px;
}

.header-top-line__login-block a {
    color: inherit;
}

.header-middle-line__logo-block img {
    vertical-align: middle;
    float: left;
}

.header-middle-line__logo-block .logotext {
    padding:13px 0;
    display: inline-block;
    vertical-align: middle;

}

.header-middle-line__logo-block .logotext .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -10px;
    color: #000000;
}

.header-middle-line__logo-block .logotext .undertext {
    font-size: 19px;
    color: #909090;
    letter-spacing: 0.7px;
}

.header-middle-line__search-block {
    text-align: center;
    position: relative;
}

.header-middle-line__search-block .search-input {
    border: none;
    background-color: #f2f2f2;
    padding: 10px 15% 10px 10px;
    margin: 0;
    width: 100%;
}

.header-middle-line__search-block .submit {
    border: none;
    background: url(../i/search-icon.svg) 50% no-repeat, #ff0000;
    padding: 10px;
    margin: 0;
    text-align: center;
    height: 100%;
    width: 15%;
    cursor: pointer;
    position: absolute;
    top:0;
    right:0;
}

.header-middle-line__search-block .submit:hover {
    background: url(../i/search-icon.svg) 50% no-repeat, #D43737;
}

.header-middle-line__cart-block {
    text-align: right;
}

.header-middle-line__cart-block img {
    display: inline-block;
    vertical-align: middle;
}

.header-middle-line__cart-block__corb-link {
    float: right;
    padding: 5px 20px;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    color: #000000;
    line-height: 100%;
    font-weight: bold;
    text-align: left;
}

/*------------------------------------navigation---------------------------------------*/
nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    background: #ff0000;
    height: 50px;
}

nav ul a {
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    display: block;
    border-right: 1px solid #ffffff;
}

nav ul a:hover {
    background: #D43737;
}

nav ul li {
    float: left;
    width: 25%;
}
/*------------------------------------banner---------------------------------------*/
.slick-slider {
    box-sizing: border-box;
    padding: 30px 0;
}

.banner-line__first-banner--left {
    float: left;
    width: 50%;
    text-align: center;
}
.banner-line__first-banner--left img{
    border-right: 2px solid #bababa;
    max-width: 380px;
}

.banner-line__first-banner--right {
    box-sizing: border-box;
    float: right;
    width: 50%;
    font-family: 'Verdana', sans-serif;
    padding: 60px;
}

.banner-line__first-banner--right h2 {
    color: #636363;
    font-size: 40px;
    font-weight: bold;
}

.banner-line__first-banner--right h3 {
    color: #ff0000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner-line__first-banner--right p {
    color: #000000;
    font-size: 14px;
    padding-right:150px;
}

.banner-line__first-banner--right input {
    border: 1px solid #ff0000;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    padding: 5px 5px;
    font-family: 'Verdana', sans-serif;
    margin: 20px 0;
    cursor: pointer;
}

.banner-line__first-banner--right input:hover {
    color: #D43737;
}

/*------------------------------------section-sales---------------------------------------*/

.sale-line__sale-items {
    margin: 0 -20px;
}

.sale-line__sale-items__sale-item {
    box-sizing: border-box;
    float: left;
    margin: 0 20px;
    width: calc(100% / 3 - 40px);
    background-color: #ff0000;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-family: 'Verdana', sans-serif;
}

.sale-line__sale-items__sale-item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.sale-line__sale-items__sale-item p {
    margin: 0;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
}

.sale-line__sale-items__sale-item a {
    display: block;
    font-size: 18px;
    text-decoration: underline;
    color: inherit;
    margin-top: 10px;

}

/*------------------------------------section-catalog---------------------------------------*/
.catalog-line {
    margin: 30px -10px;
}

.catalog-line__catalog-item {
    float: left;
    box-sizing: border-box;
    width: calc(100% / 4 - 20px);
    margin: 10px;
    position: relative;
}

.catalog-line__catalog-item:nth-child(4n+5) {
    clear: both;
}

.catalog-line__catalog-item--leftside {
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    padding: 20px 30px;
    max-width: 85%;
    min-height: 345px;
}

.catalog-line__catalog-item--leftside h2 {
    color: #909090;
    font-weight: bold;
    font-size: 18px;
}

.catalog-line__catalog-item--leftside p {
    color: #636363;
    font-size: 12px;
}

.catalog-line__catalog-item__item-price {
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
}

.catalog-line__catalog-item a {
    box-sizing: border-box;
    display: block;
    border: 1px solid #e5e5e5;
    padding: 2px;
    text-align: center;
    max-width: 45px;
    height: 45px;
    margin: 0 0 1px 1px;
}

.catalog-line__catalog-item .links {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    box-sizing: border-box;
    display: block;
}

/*------------------------------------footer---------------------------------------*/
footer .wrapper {
    background-color: #1e1e1e;
    min-height: 120px;
}

.footer-line {
    margin: 0 -10px;
    color: #ffffff;
}

.footer-line__footer-list {
    float: left;
    box-sizing: border-box;
    width: calc(100% / 4 - 20px);
    margin: 10px;
    color: inherit;
}

.footer-line__footer-list h2 {
    display: block;
    margin: 20px 0;
    font-size: 22px;
}

.footer-line__footer-list a {
    display: block;
    color: inherit;
    margin: 10px 0;
    font-size: 16px;
}

.footer-line__footer-list .social-links {
    margin: 0 -10px;
}

.footer-line__footer-list .social-links a {
    display: inline-block;
    width: calc(100% / 3.1 - 20px);
    text-align: center;
    margin: 0 10px;
}

.footer-line__footer-list .phone-numbers {
    font-size: 28px;
    margin: 10px;
    text-align: center;
    letter-spacing: 1px;
}

.copyright {
    text-align: center;
    font-size: 10px;
    margin: 60px 0;
    color: #ffffff;
}
