@import 'https://fonts.googleapis.com/css?family=Pattaya';

body, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.wrapper{
	box-sizing:border-box;
	overflow:hidden;
    max-width: 960px;
    margin: 20px auto;
	text-align:center;
}

.message{
	font-size:28px;
	color:#ff9c00;
	font-family: 'Pattaya', sans-serif;  
}